.faqs {
  background-color: $color-purple-extremely-light;

  &__question-box {
    background-color: $color-purple-light;
    border-radius: 1.5rem;
    padding: 0 $space-4;
    margin-top: $space-4;
  }

  &__question-box[open] {
    padding-bottom: $space-2;
  }

  &__question {
    width: calc(100% + 2 * $space-4);
    position: relative;
    right: -$space-4;
    background-color: $color-purple-extremely-light;
    border: 3px solid $color-purple-very-dark;
    font-size: $font-size-2xl;
    padding: $space-2 $space-4;
    border-radius: 1.5rem;
  }

  &__question-box[open] > &__question {
    margin-bottom: $space-2;
  }
}
