.header {
  background: linear-gradient($color-purple, $color-purple-dark);

  &__nav {
    display: flex;
    list-style: none;
    gap: $space-16;
    padding-top: $space-4;
    padding-bottom: $space-4;

    @media (max-width: $screen-sm) {
      gap: 0;
      justify-content: space-around;
    }
  }

  &__nav-item {
    font-size: $font-size-2xl;
    font-weight: 500;

    & > a {
      color: $color-purple-light;
      text-decoration: none;
      transition: color 300ms;

      &:hover {
        color: $color-purple-very-light;
      }

      &:active {
        color: $color-purple-extremely-light;
      }
    }
  }

  &__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-4 $space-2 $space-8 $space-2;

    @media (max-width: $screen-sm) {
      flex-direction: column;
      gap: $space-8;
    }
  }

  &__content {
    display: flex;
    gap: $space-8;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }
  }

  &__logo {
    height: 15rem;
    object-fit: contain;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $screen-sm) {
      flex-direction: column;
      gap: $space-8;
      text-align: center;
    }
  }

  &__title {
    color: $color-purple-extremely-light;
  }

  &__slogan {
    color: $color-purple-very-light;
    font-size: $font-size-2xl;
    font-weight: 700;
    margin: 0;
  }

  &__google-play-badge {
    height: 3.5rem;

    & > img {
      height: 100%;
    }
  }

  &__screenshots {
    height: 30rem;
  }
}
