body {
  font-family: $font-primary;
  font-size: $font-size-xl;
  font-weight: 500;
  color: $color-purple-very-dark;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
p {
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 800;
  color: $color-purple-extremely-dark;
}

h1 {
  font-size: $font-size-6xl;
}

h2 {
  font-size: $font-size-5xl;
}

h3 {
  font-size: $font-size-3xl;
}

ol {
  list-style-type: arabic-indic;
}

p,
li {
  margin: $space-2 0;
  max-width: 40rem;
}
