.link {
  color: $color-purple-light;
  transition: color 300ms;

  &:hover {
    color: $color-purple-very-light;
  }

  &:active {
    color: $color-purple-extremely-light;
  }
}

.section {
  padding: $space-8 0;

  &__title {
    margin-bottom: $space-8;
    text-align: center;
  }
}

.container {
  width: $screen-lg;
  margin: 0 auto;
  padding-left: $space-4;
  padding-right: $space-4;

  @media (max-width: $screen-lg) {
    width: 100vw;
  }
}

.card-container {
  display: flex;
  justify-content: space-around;

  @media (max-width: $screen-sm) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: $space-4;
  }
}

.card {
  position: relative;
  height: fit-content;
  padding: $space-4;
  border-radius: 1.5rem;
  text-align: center;
  width: 30%;

  @media (max-width: $screen-sm) {
    width: max(50%, 20rem);
  }

  &__icon {
    position: absolute;
    left: -$space-4;
    top: -$space-2;
    width: 2.5rem;
    height: 2.5rem;
  }

  &__title {
    margin-bottom: $space-4;
  }

  &__description {
    margin: 0;
  }
}
