@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;800&display=swap");

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;

$space-0: 0px;
$space-px: 1px;
$space-0-5: 0.5 0.125rem;
$space-1: 0.25rem;
$space-1-5: 0.5 0.375rem;
$space-2: 0.5rem;
$space-2-5: 0.5 0.625rem;
$space-3: 0.75rem;
$space-3-5: 0.5 0.875rem;
$space-4: 1rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-7: 1.75rem;
$space-8: 2rem;
$space-9: 2.25rem;
$space-10: 2.5rem;
$space-11: 2.75rem;
$space-12: 3rem;
$space-14: 3.5rem;
$space-16: 4rem;
$space-20: 5rem;
$space-24: 6rem;
$space-28: 7rem;
$space-32: 8rem;
$space-36: 9rem;
$space-40: 10rem;
$space-44: 11rem;
$space-48: 12rem;
$space-52: 13rem;
$space-56: 14rem;
$space-60: 15rem;
$space-64: 16rem;
$space-72: 18rem;
$space-80: 20rem;
$space-96: 24rem;

$font-primary: "Changa", sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 3.75rem;
$font-size-7xl: 4.5rem;
$font-size-8xl: 6rem;
$font-size-9xl: 8rem;

$color-purple-extremely-light: #f9ecf6;
$color-purple-very-light: #f2d9ec;
$color-purple-light: #fbd0f1;
$color-purple: #b30089;
$color-purple-dark: #821769;
$color-purple-very-dark: #602051;
$color-purple-extremely-dark: #4d1941;
